header {
    background-color: rgb(85, 68, 184);
    height: 100%;
}

header img {
    width: 200px;
}

header nav {
    float: right;
    padding-top: 0px;}
   

header nav ul li {
    display: inline-block;
    padding: 15px;
    padding-top: 0px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia;
    font-weight: bold;
    color: black;
    background-color: cornsilk;
}

main h2 {
    color: rgb(80, 12, 168);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia;
    text-align: center;
}



main p {
    padding-top: 10px;
    font-size: 20px;
    color: rgb(96, 15, 202);
    font-family: Rockwell;
    text-align: center;
}

main ul {
    list-style: disc;
    padding-top: 10px;
    padding-left: 30px;
}
 footer {

    background-color: blue;
    padding-bottom: 10px;
    text-align: center;

}

#title{
    color: blue;
    text-align: left;
}
#cookie {
    color: blue;


}
 
